<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    {% endblock title %}

    {% include 'header-resources.html' %}

    {% block seo-content %}
    {% endblock seo-content %}

    {% block header-resource %}
    {% endblock header-resource %}
</head>

<body class="">
{% comment %}Side-bar menu{% endcomment %}
{% include 'side-bar.html' %}

<div class="wrapper-boxed header-style-header-3">
    {% comment %}menu header{% endcomment %}
    {% include 'header.html' %}
    {% comment %}main container{% endcomment %}
    {% block main-content %}
    {% endblock main-content %}
</div>

{% include 'footer.html' %}
{% include 'footer-resources.html' %}
{% block footer-resource %}
{% endblock footer-resource %}
</body>
</html>
