<!-- Header -->
<header id="header" class="header-header-3" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <nav id="navigation" class="header-layout-bottom menu-style-2 header-3 menu-item-padding" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <div class="container">
            <div class="button-menu-mobile header-3">
                <svg class="icon-bars" style="width: 50px; height: 50px;">
                    <use xlink:href="#icon-bars"></use>
                </svg>
            </div>
            <ul class="menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1322"><a href="/">Trang chủ</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1451"><a href="#">Danh mục<span class="caret"></span></a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1316"><a href="/category/thiet-bi-dien-tu">Thiết bị điện tử</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1316"><a href="/category/suc-khoe-lam-dep">Sức khỏe - Làm đẹp</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1316"><a href="/category/thi-truong">Thị trường</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1316"><a href="/category/thong-tin-ben-le">Chuyện bên lề</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1322"><a href="/topview">Xem nhiều nhất</a></li>
                {% comment %}<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1322"><a href="/live/covid19">Dịch Covid-19</a></li>{% endcomment %}
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1322"><a href="/contact">Liên hệ</a></li>
            </ul>
            <div id="top-search">
                <a class="search-click">
                    <svg class="icon icon-search" style="width: 30px; height: 30px;">
                        <use xlink:href="#icon-search"></use>
                    </svg>
                </a>
                <div class="show-search">
                    <form role="search" method="get" id="searchform" action="#">
                        <div><input type="text" class="search-input" placeholder="Nhập tên sản phẩm" name="s" id="s"/></div>
                    </form>
                    <a class="search-click close-search">
                        <svg class="icon icon-close" style="width: 25px; height: 25px;">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
<style>
    .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 10px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-top: 4px solid \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
</style>
