<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    {% endblock title %}

    {% include 'common/client/header-resources.html' %}

    {% block seo-content %}
    {% endblock seo-content %}

    {% block header-resource %}
    {% endblock header-resource %}
</head>

<body>
{% comment %}Side-bar menu{% endcomment %}
{% include 'common/client/header.html' %}
{% include 'common/client/side-bar.html' %}

<!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %} -->

{% if messages %}

{% for message in messages %}
<div class="alert  alert--{{message.tags}}">
    <p class="alert__message">{{message}}</p>
    <button class="alert__close">x</button>
</div>

{% endfor %}

{% endif %}


{% block content %}

{% endblock content %}

{% include 'common/client/footer.html' %}
{% include 'common/client/footer-resources.html' %}
{% block footer-resource %}
{% endblock footer-resource %}
</body>
</html>
